body {
    font-size: 11pt;
}
.table-borderless {
    border-top: none
}

.big-number {
    font-size: 36px;
    font-weight: bold;
}

.log-number {
    font-size: 20px;
    font-weight: bold;
}

nav .list-inline {
    margin-bottom: 0
}

nav .list-inline-item {
    font-size: 26px;
    width: 40px
}

h1 { 
    font-size: 24px;
    text-align: center;
    margin-top: 20px
}

h2 { 
    font-size: 17px
}

.card-footer {
    background-color: #fff
}

.hargaemas td {
    text-align: 'center';
}
.hargaemas tr:last-child td, .hargaemas tr:last-child th {
    /* border-bottom: none; */
}